{%- liquid
  assign order = order | split: ','
  assign keys = keys | split: ','
  assign compare = compare | downcase | strip | handle
-%}
{%- capture variable_highlight_title -%}
  <div class="label-wrapper">
    {%- for key in keys -%}
      {%- for i in order -%}
        {%- liquid
          assign name = key | split: '_' | first
          assign item_setting_id = key | append: i
          assign highlight_title = settings[item_setting_id]
          assign value = highlight_title | downcase | split: ','
          assign text = 'navigation.' | append: name | append: '_label'
        -%}
        {%- if value != blank -%}
          {%- for item in value -%}
            {%- assign item_handle = item | strip | handle -%}
            {%- if item_handle == compare and name != 'highlighted' -%}
              <span class="label {{ name }}-label">{{ text | t }}</span>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </div>
{%- endcapture -%}
{{ variable_highlight_title | strip | strip_newlines }}
