<hover-button class="swiper-button swiper-button-prev {{ class_prev }}">
  <span class="fill-bg absolute" data-fill-bg></span>
  <span class="svg-wrapper">
    {%- render 'icon-arrow' -%}
  </span>
</hover-button>
<hover-button class="swiper-button swiper-button-next {{ class_next }}">
  <span class="fill-bg absolute" data-fill-bg></span>
  <span class="svg-wrapper">
    {%- render 'icon-arrow' -%}
  </span>
</hover-button>
