{%- capture children -%}
  {% content_for 'blocks' %}
{%- endcapture -%}

<side-drawer
  class="blog-posts__sidebar-drawer drawer__container"
  id="Drawer-Blog-Sidebar"
  data-drawer-direction="left"
  data-moved="false"
>
  <div id="Drawer-Overlay-Blog-Sidebar" class="drawer__overlay fixed inset-0 cursor-pointer lg:none"></div>
  <div class="blog-posts__sidebar-container" data-drawer-content>
    <side-drawer-close class="sidebar-close absolute cursor-pointer" data-side-drawer="#Drawer-Blog-Sidebar">
      <button class="button--drawer focus-inset">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      </button>
    </side-drawer-close>
    <div class="blog-posts__sidebar flex flex-column hide-scrollbar">
      <div class="blog-posts__sidebar-header lg:none">
        <span class="title h5">
          {{ 'content.sidebar' | t }}
        </span>
      </div>
      {{ children }}
    </div>
  </div>
</side-drawer>

{% schema %}
{
  "name": "t:names.sidebar",
  "tag": null,
  "blocks": [
    { "type": "_blog-post-sidebar-category" },
    { "type": "_blog-post-sidebar-recent-posts" },
    { "type": "_blog-post-sidebar-products" },
    { "type": "_blog-post-sidebar-image" },
    { "type": "_blog-post-sidebar-text" },
    { "type": "_blog-post-sidebar-tags" }
  ],
  "settings": [],
  "presets": [
    {
      "name": "t:names.sidebar",
      "blocks": {
        "category": {
          "type": "_blog-post-sidebar-category",
          "name": "Category"
        },
        "recent_posts": {
          "type": "_blog-post-sidebar-recent-posts",
          "name": "Recent posts"
        },
        "products": {
          "type": "_blog-post-sidebar-products",
          "name": "Products"
        },
        "image": {
          "type": "_blog-post-sidebar-image",
          "name": "Image"
        },
        "text": {
          "type": "_blog-post-sidebar-text",
          "name": "Custom text"
        },
        "tags": {
          "type": "_blog-post-sidebar-tags",
          "name": "Tags"
        }
      }
    }
  ]
}
{% endschema %}
