{% assign bl_stts = block.settings %}

{%- if cart != empty and settings.show_calculator_free_shipping_message -%}
  <div
    class="cart-shipping-message spacing-style {{ bl_stts.alignment }}"
    style="{% render 'spacing-style', settings: bl_stts %}"
    {{ block.shopify_attributes }}
  >
    <div class="cart-message">
      {% render 'free-shipping-component' %}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:names.shipping_notification",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.shipping_notification"
    }
  ]
}
{% endschema %}
