{%- liquid
  assign section_id = section.id
  assign card_product = block.settings.product

  assign product_swatch_option = settings.swatch | downcase
  assign isColor = false
  assign variant_img = ''
  for option in card_product.options_with_values
    assign option_name = option.name | downcase | strip
    if product_swatch_option contains option_name
      assign isColor = true
      assign index = forloop.index0
      assign position = forloop.index | minus: 1
      assign variant_selected = option.selected_value
      if settings.show_quick_shop
        for variant in card_product.variants limit: 1
          if variant.image != null
            assign variant_img = variant.image
          endif
        endfor
      endif
      break
    else
      assign position = 0
      assign variant_selected = null
    endif
  endfor
-%}

{%- if card_product and card_product != empty and isColor -%}
  <div class="card--block-variant spacing-style" style="{%- render 'spacing-style', settings: block.settings -%}">
    {%- render 'product-swatch',
      product: card_product,
      variant_selected: variant_selected,
      index: index
    -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:names.product_variant",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.product_variant",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
