
{%- liquid
  assign pos_image = section.settings.desktop_media_position
-%}
{%- capture html_media -%}
  <div class="media media--adapt" style="--media-adapt-ratio: {{ closest.product.media[0].aspect_ratio }}">
    {%- render 'image', image: closest.product.media[0] -%}
  </div>
{%- endcapture -%}

{%- if pos_image == 'left' -%}
  {{ html_media }}
{%- endif -%}

<div class="product-quick-add__media0">
  {%- content_for 'blocks' -%}
</div>

{%- if pos_image == 'right' -%}
  {{ html_media }}
{%- endif -%}

{% schema %}
{
  "name": "t:names.media",
  "tag": null,
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "group"
    },
    {
      "type": "spacer"
    },
    {
      "type": "price"
    },
    {
      "type": "review"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
  ],
  "presets": [
    {
      "name": "t:names.media",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
