{%- liquid
  assign bl_stts = block.settings
  assign product_resource = closest.product

  assign countdown_type = settings.countdown_type
  assign countdown_time = settings.countdown_time
  assign countdown_collection = settings.countdown_collection | downcase | handle
-%}

<product-countdown
  class="spacing-style"
  data-block-id="{{ block.id }}"
  data-product-id="{{ product_resource.id }}"
  style="
    {% render 'spacing-style', settings: bl_stts %}
    --font-size: {{ bl_stts.font_size }};
  "
  {{ block.shopify_attributes }}
>
  <div class="card--block-countdown w-max">
    <div class="card__countdown" style="--bottom: 4rem;">
      {% render 'product-countdown',
        type: 'product',
        product: product_resource,
        countdown_type: countdown_type,
        countdown_time: countdown_time,
        countdown_collection: countdown_collection
      %}
    </div>
  </div>
</product-countdown>

{% schema %}
  {
    "name": "t:names.countdown",
    "tag": null,
    "settings": [
      {
        "type": "paragraph",
        "content": "t:content.product_countdown_content"
      },
      {
        "type": "header",
        "content": "t:content.typography"
      },
      {
        "type": "select",
        "id": "font_size",
        "label": "t:settings.font_size",
        "options": [
          {
            "value": "",
            "label": "t:options.default"
          },
          {
            "value": "1.0rem",
            "label": "10px"
          },
          {
            "value": "1.2rem",
            "label": "12px"
          },
          {
            "value": "1.4rem",
            "label": "14px"
          },
          {
            "value": "1.6rem",
            "label": "16px"
          },
          {
            "value": "1.8rem",
            "label": "18px"
          },
          {
            "value": "2.0rem",
            "label": "20px"
          },
          {
            "value": "2.2rem",
            "label": "22px"
          },
          {
            "value": "2.4rem",
            "label": "24px"
          },
          {
            "value": "2.6rem",
            "label": "26px"
          },
          {
            "value": "2.8rem",
            "label": "28px"
          },
          {
            "value": "3.0rem",
            "label": "30px"
          },
          {
            "value": "3.2rem",
            "label": "32px"
          },
          {
            "value": "3.4rem",
            "label": "34px"
          },
          {
            "value": "3.6rem",
            "label": "36px"
          },
          {
            "value": "4.0rem",
            "label": "40px"
          }
        ],
        "default": "1.2rem"
      },
      {
        "type": "header",
        "content": "t:content.padding"
      },
      {
        "type": "range",
        "id": "padding-block-start",
        "label": "t:settings.top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-block-end",
        "label": "t:settings.bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-inline-start",
        "label": "t:settings.left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-inline-end",
        "label": "t:settings.right",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "t:names.countdown",
        "category": "t:categories.product"
      }
    ]
  }
{% endschema %}