.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  color: var(--color-foreground);
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social--custom .list-social__item {
  width: var(--social-item-size);
  height: var(--social-item-size);
  border-radius: 50%;
  background-color: var(--social-item-bg-color);
  color: var(--social-item-color);
  border: 1px solid var(--social-item-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.list-social--custom .list-social__item .list-social__link {
  transition: all 0.2s ease;
  color: inherit;
}

@media (hover: hover) {
  .list-social--custom .list-social__item:hover {
    background-color: var(--social-item-bg-color-hover);
    color: var(--social-item-color-hover);
    border-color: var(--social-item-border-color-hover);
  }
}

@media (max-width: 749px) {
  .list-social--custom .list-social__item {
    width: var(--social-item-size-mobile);
    height: var(--social-item-size-mobile);
  }
}
