pickup-availability[available] {
  min-height: 8rem;
}

.pickup-availability-preview {
  align-items: flex-start;
  display: flex;
  gap: 0.2rem;
}

.pickup-availability-preview .icon {
  flex-shrink: 0;
  height: 1.8rem;
}

.pickup-availability-preview .icon-unavailable {
  height: 1.6rem;
  margin-top: 0.1rem;
}

.pickup-availability-button {
  background-color: transparent;
  color: rgb(var(--color-foreground-rgb) / var(--opacity-75));
  letter-spacing: 0.06rem;
  padding: 0 0 0.2rem;
  text-align: left;
  text-decoration: underline;
}

@media (hover: hover) {
  .pickup-availability-button:hover {
    color: var(--color-foreground);
  }
}

.pickup-availability-info * {
  margin: 0 0 0.6rem;
}

.pickup-availability-header {
  margin-bottom: 1.2rem;
}

.pickup-availability-variant {
  font-size: var(--font-size--xs);
  margin: 0 0 1.2rem;
  text-transform: capitalize;
}

.pickup-availability-variant > * + strong {
  margin-left: 1rem;
}

.pickup-availability-list__item {
  border-bottom: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-8));
  padding: 2rem 0;
}

.pickup-availability-list__item:first-child {
  border-top: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-8));
}

.pickup-availability-list__item > * {
  margin: 0;
}

.pickup-availability-list__item > * + * {
  margin-top: 1rem;
}

.pickup-availability-address {
  font-style: normal;
  font-size: var(--font-size--2xs);
}

.pickup-availability-address p {
  margin: 0;
}
