variant-selects {
  display: block;
}

variant-selects ~ variant-selects {
  display: none !important;
}

.product--no-media .product-form__input--pill,
.product--no-media .product-form__input--swatch,
.product--no-media .product-form__input--dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product--no-media .product-form__input.product-form__input--pill,
.product--no-media .product-form__input.product-form__input--swatch {
  flex-wrap: wrap;
  margin: 0 auto 1.2rem auto;
}

.product--no-media .product-form__input--dropdown {
  flex-direction: column;
  max-width: 100%;
}

:is(.product-form__input--pill, .product-form__input--swatch) .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio']:not(.disabled):not(.visually-disabled) + label > .label-unavailable {
  display: none;
}

.product-form__input--dropdown {
  --swatch-input--size: 2rem;
  margin-bottom: 1.6rem;
}

.product-form__input--pill input[type='radio'] + label {
  border: var(--variant-pills-border-width) solid rgb(var(--color-black-rgb) / var(--opacity-15));
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--variant-pills-radius);
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1.2rem;
  min-width: 4rem;
  font-size: var(--font-size--sm);
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio'] + label::before {
  content: '';
  position: absolute;
  inset: calc(var(--variant-pills-border-width) * -1);
  border: var(--variant-pills-border-width) solid var(--color-black);
  border-radius: var(--variant-pills-radius);
  pointer-events: none;
  transform: scale(0.8);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: var(--opacity-0);
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius) rgb(var(--color-shadow-rgb) / var(--opacity-30));
}

.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio']:focus-visible + label::before {
  transform: scale(1);
  opacity: var(--opacity-100);
}

@media (hover: hover) {
  .variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio']:hover + label::before {
    transform: scale(1);
    opacity: var(--opacity-100);
  }
}

.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio']:checked + label::before,
.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio'].checked + label::before {
  transform: scale(1);
  opacity: var(--opacity-100);
}

.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio'] + label.checked::before {
  transform: scale(1);
  opacity: var(--opacity-100);
}

.variant-option--buttons:has(.sbs-swatch-item) input[type='radio'] + label .swatch::before {
  content: '';
  position: absolute;
  inset: calc(var(--variant-pills-border-width) * -1);
  border: var(--variant-pills-border-width) solid var(--color-black);
  border-radius: var(--variant-pills-radius);
  pointer-events: none;
  transform: scale(0.8);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: var(--opacity-0);
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius) rgb(var(--color-shadow-rgb) / var(--opacity-30));
}

.variant-option--buttons:has(.sbs-swatch-item) input[type='radio'] + label.checked .swatch::before {
  transform: scale(1);
  opacity: var(--opacity-100);
}

@media screen and (forced-colors: active) {
  .variant-option--buttons input[type='radio']:checked + label,
  .variant-option--buttons input[type='radio'].checked + label {
    text-decoration: underline;
  }

  .variant-option--buttons input[type='radio']:focus-visible + label {
    outline: transparent solid 1px;
    outline-offset: 2px;
  }
}

.variant-option--buttons input[type='radio']:checked + label::selection,
.variant-option--buttons input[type='radio'].checked + label::selection {
  background: rgb(var(--color-black-rgb) / var(--opacity-30));
}

.variant-option--buttons input[type='radio']:disabled + label,
.variant-option--buttons input[type='radio'].disabled + label {
  background: rgb(var(--color-black-rgb) / var(--opacity-10));
  border-color: rgb(var(--color-black-rgb) / var(--opacity-10));
  color: rgb(var(--color-black-rgb) / var(--opacity-60));
}

.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio']:disabled + label:after,
.variant-option--buttons:not(:has(.sbs-swatch-item)) input[type='radio'].disabled + label:after {
  content: "";
  top: 50%;
  left: 50%;
  height: 1px;
  opacity: 1;
  z-index: 1;
  border: none;
  position: absolute;
  visibility: visible;
  width: 58px;
  background-color: var(--color-error-strikethrough);
  transform: translate(-50%) rotate(-45deg);
}

.variant-option--buttons:has(.sbs-swatch-item) input[type='radio']:disabled + label .swatch:after,
.variant-option--buttons:has(.sbs-swatch-item) input[type='radio'].disabled + label .swatch:after {
  content: "";
  top: 50%;
  left: 50%;
  height: 1px;
  opacity: 1;
  z-index: 1;
  border: none;
  position: absolute;
  visibility: visible;
  width: 58px;
  background-color: var(--color-error-strikethrough);
  transform: translate(-50%) rotate(-45deg);
}

.variant-option--buttons input[type='radio'].disabled:checked + label,
.variant-option--buttons input[type='radio'].disabled.checked + label,
.variant-option--buttons input[type='radio']:disabled:checked + label,
.variant-option--buttons input[type='radio'].disabled.checked:checked + label {
  color: rgb(var(--color-black-rgb) / var(--opacity-60));
}
.variant-option--buttons input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem var(--color-black), 0 0 0 0.5rem rgb(var(--color-black-rgb) / var(--opacity-55));
}

/* Fallback */
.variant-option--buttons input[type='radio'].focused + label {
  box-shadow: 0 0 0 0.3rem var(--color-black), 0 0 0 0.5rem rgb(var(--color-black-rgb) / var(--opacity-55));
}

.product-form__input--swatch {
  display: flex;
  flex-wrap: wrap;
}

.product-form__input--swatch .swatch-input__input + .swatch-input__label {
  --swatch-input--size: 3.6rem;

  margin: 0.7rem 1.2rem 0.2rem 0;
}

@media screen and (min-width: 750px) {
  .product-form__input--swatch .swatch-input__input + .swatch-input__label {
    --swatch-input--size: 2.8rem;
  }
}
