product-bundle .has-halo-block-loader {
  pointer-events: none;
}

product-bundle .card--block-title input[type=checkbox]+.card__heading:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  border: 1px solid #dbdbdb;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 0;
}

product-bundle .card--block-title input[type=checkbox]:checked+.card__heading:before {
  background-color: #000;
  border-color: #000;
}

product-bundle .card--block-title input[type=checkbox]+.card__heading:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='check' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-check fa-w-16 fa-3x'%3E%3Cpath fill='%23ffffff' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  line-height: 1;
  transition: transform .3s ease-out;
  opacity: 0;
  transform: scale(.9);
}

product-bundle .card--block-title input[type=checkbox]:checked+.card__heading:after {
  opacity: 1;
  transform: scale(1);
}

product-bundle .card--block-title .card__heading {
  position: relative;
  padding: 0 0 0 32px;
}

product-bundle .card--block-title input[type=checkbox] {
  display: none;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  box-sizing: border-box;
}

product-bundle .arrow-on-header .swiper-btns-on-header {
  gap: 3rem;
}

.bundle-product-options {
  display: block;
  position: absolute;
  text-align: left;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  top: 50%;
  left: auto;
  right: var(--padding-inline-end);
  transform: translateY(-50%);
  background: #fff;
  z-index: 3;
  width: 400px;
  box-shadow: 0 3px 7px #0003;
  transition: all ease .3s, opacity .25s ease-in-out, transform .25s ease-in-out;
  overflow: hidden;
}

.bundle-product-options .halo-popup-header {
  background-color: #f5f5f5;
  padding: 12px 20px;
}

.bundle-product-options .bundle-option-content {
  padding: 12px 20px;
  max-height: 250px;
  overflow-y: auto;
}

.bundle-product-options .bundle-option-close {
  background: transparent;
  border-radius: 50%;
  color: rgb(var(--color-foreground-rgb) / var(--opacity-55));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1.2rem;
  z-index: 1;
  position: absolute;
  top: .4rem;
  right: .4rem;
}

.swiper-slide-active .bundle-product-options {
  left: var(--padding-inline-start);
  right: auto;
}

.bundle-product-item.is-open .bundle-product-options {
  opacity: 1;
  pointer-events: all;
}

.swiper .bundle-product-item {
  overflow: visible;
}

.swiper .bundle-product-item.is-open {
  z-index: 1;
}

.bundle-option-title {
  margin: 0;
}

.bundle-product-totalPrice .old-price{
  text-decoration: line-through;
  font-size: var(--font-size--xs);
}

@media (max-width: 1024px) {
  .bundle-product-item .card--bundle {
    --padding-block-start: 5px !important;
    --padding-block-end: 5px !important;
    --padding-inline-start: 5px !important;
    --padding-inline-end: 5px !important;
  }
}

@media (max-width: 749px) {
  .bundle-product-options {
    width: 150%;
    max-width: 150%;
    top: auto;
    bottom: 50px;
    max-height: calc(100% - 50px);
    transform: unset;
  }
}

@media (min-width: 750px) {
  .bundle-product-item:not(:last-child):before {
    content: "+";
    position: absolute;
    font-size: var(--font-size--2xl);  
    left: auto;
    right: calc(var(--items-gap, 10px) / -2);
    top: 50%;
    -moz-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: #3e3e3e;
    z-index: 1;
  }
}

.bundle-product-totalPrice .old-price{
  text-decoration: line-through;
  font-size: var(--font-size--xs);
}