.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
.is-empty .cart__summary-container {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 1025px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items-component {
  display: block;
}

.cart__items--disabled {
  pointer-events: none;
}

.main-cart .cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgb(var(--color-foreground-rgb) / var(--opacity-75));
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media (hover: hover) {
  .cart__note:hover.cart__note:after,
  .cart__note:hover.cart__note:before {
    border-bottom-right-radius: var(--inputs-radius);
  }
}

@media screen and (min-width: 750px) {
  .cart__contents > * + * {
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > * + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
}

.tax-note {
  margin: 2.2rem 0 0 auto;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
  margin-bottom: 1rem;
}

.cart__ctas {
  text-align: center;
}

.cart__ctas-drawer {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 75rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas:not(.cart__ctas-drawer) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cart__ctas:not(.cart__ctas-drawer) .button {
    min-width: 100%;
  }
}
