.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totals > * {
  font-size: var(--font-size--md);
  margin: 0;
}

.totals > h2 {
  font-size: var(--font-size--md);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  font-size: var(--font-size--lg);
}

.cart__ctas + .totals {
  margin-top: 2rem;
}