.deferred-media__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: calc(var(--border-radius) - var(--border-width, 0px));
  width: 100%;
}

.deferred-media__poster img {
  max-width: 100%;
  height: 100%;
}

.media > .deferred-media__poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deferred-media:not([data-media-loaded]) template {
  z-index: -1;
}

.deferred-media[data-media-loaded] > .deferred-media__poster {
  opacity: var(--opacity-0);
  transition: opacity .3s ease;
}

.deferred-media__poster-button~*:not(template) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: inherit;
  object-fit: cover;
}

.deferred-media__poster:focus-visible,
.deferred-media__poster:focus {
  outline: none;
}

@media (forced-colors: active) {
  .deferred-media__poster:focus {
    outline: transparent solid 1px;
  }
}
.deferred-media__poster:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.deferred-media__poster-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--style-border-radius-50);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
}

.deferred-media__poster-icon svg,
.video-placeholder-wrapper__poster-icon svg {
  width: var(--button-size, 4.8rem);
  height: var(--button-size, 4.8rem);
}
@media screen and (min-width: 750px) {
  .deferred-media__poster-icon svg,
  .video-placeholder-wrapper__poster-icon svg {
    width: 6.4rem;
    height: 6.4rem;
  }
}
