.product__xr-button {
  background: rgb(var(--color-foreground-rgb) / var(--opacity-8));
  color: var(--color-foreground);
  margin: 1rem auto;
  box-shadow: none;
  display: flex;
}

@media (hover: hover) {
  .button.product__xr-button:hover {
    box-shadow: none;
  }
}

.product__xr-button[data-shopify-xr-hidden] {
  visibility: hidden;
}

.shopify-design-mode .product__xr-button[data-shopify-xr-hidden] {
  display: none;
}

@media screen and (max-width: 749px) {
  .active .product__xr-button:not([data-shopify-xr-hidden]) {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .product__xr-button[data-shopify-xr-hidden] {
    display: none;
  }
}

.product__xr-button .icon {
  width: 1.4rem;
  margin-inline-end: 1rem;
}
