quick-order-list {
  display: block;
}

quick-order-list .quantity {
  width: calc(11rem + var(--quantity-border-width) * 2);
  min-height: calc((var(--quantity-border-width) * 2) + 3.5rem);
}

quick-order-list .quantity__button {
  width: 3.5rem;
}

.quick-order-list__contents {
  position: relative;
}

.quick-order-list__container {
  padding-bottom: 4rem;
}

.quick-order-list__container--disabled {
  pointer-events: none;
}

.quick-order-list__total {
  padding-top: 2rem;
  border-top: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-8));
}

.variant-item__quantity .quantity:before {
  z-index: 0;
}

.variant-item__quantity .quantity__button {
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  .quick-order-list__total {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: var(--color-background);
  }

  .variant-item__error {
    margin-left: 0.3rem;
  }

  .variant-item--unit-price .variant-item__totals {
    vertical-align: top;
  }

  .variant-item--unit-price .variant-item__totals .loading__spinner {
    padding-top: 1.7rem;
  }
}

.quick-order-list__table td,
.quick-order-list__table th {
  padding: 0;
  border: none;
}

.quick-order-list__table th {
  text-align: left;
  padding-bottom: 2rem;
  opacity: var(--opacity-85);
  font-weight: normal;
  font-size: var(--font-size--2xs);  
}

.variant-item__quantity-wrapper {
  display: flex;
}

@media screen and (min-width: 1025px){
  .variant-item__quantity-wrapper {
    justify-content: center;
    padding-inline: 3.2rem;
  }
}

.variant-item__totals,
.variant-item__details,
.variant-item__price {
  position: relative;
}

.variant-item__price .price,
.variant-item__totals .price {
  display: block;
}

.quick-order-list__table *.right {
  text-align: right;
}

.variant-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  height: 4.5rem;
  width: 4.5rem;
}

.variant-item__media {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1.2rem;
}

.variant-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1025px) {
  .variant-item__image {
    max-width: 100%;
  }

  .variant-item__inner .small-hide {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .variant-item__discounted-prices {
    justify-content: flex-end;
  }
}

.variant-item__details {
  font-size: var(--font-size--md);
}

.variant-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.variant-item__info {
  position: relative;
  padding-bottom: 0.5rem;
}

.variant-item__name {
  display: block;
  font-size: var(--font-size--md);
  letter-spacing: 0.06rem;
}

.variant-item__sku {
  font-size: var(--font-size--2xs);  
  letter-spacing: 0.04rem;
  margin-top: 0.2rem;
}

.variant-item__discounted-prices {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.variant-item__discounted-prices dd {
  margin: 0;
}

.variant-item__discounted-prices dd:first-of-type {
  margin-right: 0.8rem;
}

.variant-item__discounted-prices .variant-item__old-price {
  font-size: var(--font-size--sm);
}

.variant-item__old-price {
  opacity: var(--opacity-70);
}

.variant-item__final-price {
  font-weight: 400;
}

.variant-item__sold-out {
  opacity: var(--opacity-70);
  font-size: var(--font-size--md);
  color: var(--color-foreground);
}

.quick-order-list__button-cancel {
  font-size: var(--font-size--md);  
  letter-spacing: 0.06rem;
}

.quick-order-list-total__column {
  width: 35%;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .quick-order-list-total__column {
    flex-wrap: wrap;
  }

  .quick-order-list__message,
  .quick-order-list-error {
    padding-bottom: 1rem;
  }
}

quick-order-list-remove-button .button {
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
  border: none;
}

@media (hover: hover) {
  quick-order-list-remove-button .button:not([disabled]):hover {
    color: var(--color-foreground);
  }
}

quick-order-list-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
  transition: transform var(--duration-default) ease;
}

@media (min-width: 750px) and (max-width: 1024px) {
  quick-order-list-remove-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

@media screen and (min-width: 1025px){
  quick-order-list-remove-button {
    display: flex;
    margin: 0;
    align-self: center;
    position: absolute;
    right: 0;
  }
}

.variant-item .loading__spinner {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

.variant-remove-total {
  position: relative;
  align-self: center;
}

.variant-remove-total .button--tertiary {
  width: max-content;
}

.variant-remove-total .icon-remove {
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-end: 0.8rem;
}

.quick-order-list__message {
  margin-top: 1rem;
  display: block;
}

.quick-order-list__message .svg-wrapper {
  margin-inline-end: 1rem;
  width: 1.3rem;
}

.quick-order-list-error {
  margin-top: 1rem;
  display: flex;
}

.quick-order-list-error .svg-wrapper {
  flex-shrink: 0;
  width: 1.2rem;
  margin-inline-end: 0.7rem;
  margin-top: 0.3rem;
  align-self: flex-start;
}

@media screen and (min-width: 1025px) {
  .variant-item .loading__spinner {
    padding-top: 3rem;
    bottom: auto;
  }

  .variant-item .loading__spinner--error {
    padding-top: 5rem;
  }

  .variant-remove-total .loading__spinner {
    left: 2rem;
    top: 1.2rem;
  }

  .variant-remove-total--empty .loading__spinner {
    top: -1rem;
  }
}

@media (hover: hover) {
  quick-order-list-remove-button:hover .icon-remove {
    transform: scale(1.25);
  }
}

.variant-remove-total {
  position: relative;
  align-self: center;
}

.variant-item .loading__spinner:not(.hidden) ~ *,
.variant-remove-total .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.variant-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  width: min-content;
  min-width: 100%;
}

.variant-item__error-text {
  font-size: var(--font-size--2xs);
  order: 1;
}

.variant-item__error-text + .svg-wrapper {
  flex-shrink: 0;
  width: 1.2rem;
  margin-inline-end: 0.5rem;
  margin-top: 0.1rem;
}

.variant-item__error-text:empty + .svg-wrapper {
  display: none;
}

.quick-order-list__table thead th {
  text-transform: uppercase;
}

.variant-item__image-container--no-img {
  border: 0;
}

@media screen and (max-width: 1024px) {
  .quick-order-list-total__info {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .variant-item__details .loading__spinner {
    left: 0;
    top: auto;
  }

  .quick-order-list__table,
  .quick-order-list__table thead,
  .quick-order-list__table tbody {
    display: block;
    width: 100%;
  }

  .quick-order-list__table thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid
      rgb(var(--color-foreground-rgb) / var(--opacity-8));
    margin-bottom: 4rem;
  }

  .variant-item {
    display: grid;
    grid-template-columns: 4.5rem 1fr 22rem 11rem;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .variant-item--no-media {
    grid-template: repeat(2, auto) / repeat(3, auto);
  }

  .variant-item:last-child {
    margin-bottom: 0;
  }

  .variant-item__totals {
    grid-column: 4 / 5;
  }

  .variant-item--no-media .variant-item__inner ~ .variant-item__quantity {
    grid-column: 1 / 5;
  }

  .variant-item__quantity {
    grid-column: 3 / 4;
    grid-row: 1/1;
    justify-content: center;
  }

  .variant-item__quantity-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .variant-item--no-media .variant-item__inner {
    display: none;
  }

  .variant-remove-total {
    text-align: center;
  }

  .quick-order-list__message {
    text-align: center;
  }

  .quick-order-list-total__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .quick-order-list-buttons {
    display: flex;
    gap: var(--gap-lg);
  }

  .quick-order-list__button {
    width: auto;
  }
}

@media screen and (max-width: 749px){
  .variant-item {
    grid-template-columns: 1fr 0fr max-content;
    gap: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;
  }

  .variant-item__quantity {
    grid-column: 2 / 4;
    grid-row: 2 / 2;

    quantity-popover {
      align-items: flex-start;
    }
  }

  .variant-item__quantity-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .variant-item__discounted-prices dd {
    font-size: var(--font-size--2xs);
  }
}

.quick-order-list__button-text {
  text-align: center;
}

.quick-order-list-total__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.quick-order-list__table thead th:first-child {
  text-align-last: left;
  width: 35%;
}

@media screen and (min-width: 1025px) {
  .quick-order-list__table {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .quick-order-list__table th {
    border-bottom: 0.1rem solid
      rgb(var(--color-foreground-rgb) / var(--opacity-8));
  }

  .quick-order-list__table th + th {
    text-align: center;
  }

  .quick-order-list__table
    .quick-order-list__table-heading--wide
    + .quick-order-list__table-heading--wide {
    padding-left: 10rem;
    text-align: right;
  }

  .quick-order-list__table td {
    padding-top: 1.6rem;
  }

  .quick-order-list__table .desktop-row-error td {
    padding-top: 0;
  }

  .quick-order-list__table .desktop-row-error td {
    padding-top: 0;
  }

  .quick-order-list__table .variant-item--unit-price td {
    vertical-align: middle;
  }

  .variant-item {
    display: table-row;
  }

  .variant-item .variant-item__price {
    text-align: right;
  }

  .variant-item__info {
    width: 20rem;
    display: flex;
    padding: 0.5rem;
  }

  .quick-order-list-total__confirmation span {
    margin-inline-end: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  .quick-order-list-buttons {
    display: flex;
  }

  quick-order-list-remove-all-button {
    margin-inline-start: 0.9rem;
  }
}

.quick-order-list__total-items {
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .quick-order-list__total-items {
    width: 22rem;
  }
}

.quick-order-list__total-items span,
.totals__subtotal-value {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-foreground);
}

.quick-order-list__total-items p,
.totals__subtotal {
  margin-top: 0.2rem;
  opacity: var(--opacity-75);
  margin-bottom: 0;
}

.quick-order-list__total-items p {
  text-align: center;
}

.quick-order-list-total__info,
.quick-order-list-total__confirmation {
  min-height: 10rem;
  vertical-align: top;
}

.quick-order-list-total__price {
  text-align: right;
}

.quick-order-list-total__price .button {
  margin-inline-end: 2rem;
}

@media screen and (max-width: 1024px) {
  .quick-order-list-total__price {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .totals__product-total {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: var(--padding-sm);
  }

  .totals__subtotal-value,
  .quick-order-list__total-items span {
    margin-inline-end: 1.2rem;
  }

  .quick-order-list__total-items {
    margin-block: var(--margin-sm);
  }

  .quick-order-list-total__price .button {
    margin-bottom: 2rem;
  }

  .quick-order-list-total__confirmation
    quick-order-list-remove-all-button
    button {
    margin-top: 1rem;
  }

  .quick-order-list-total__confirmation {
    flex-direction: column;
    margin-top: 2rem;
  }

  .quick-order-list__button-confirm {
    width: 100%;
    max-width: 36rem;
  }

  quick-order-list .tax-note {
    text-align: center;
  }
}

quick-order-list .tax-note {
  font-size: var(--font-body--size);
  margin: 0 0 var(--margin-sm);
  display: block;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  quick-order-list .tax-note {
    margin: 0.5rem 0 var(--margin-xl);
  }
}
