.footer {
  border-top: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-8));
}

.footer summary .icon-caret {
  margin-right: 0px;
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer--rtl .footer-block,
.footer--rtl .footer-block * {
  text-align: right !important;
  align-items: flex-end !important;
}

.footer--rtl summary .icon-caret {
  left: 1.5rem;
  right: auto;
}

.footer--rtl .footer-block.pos-mb-left .list-position-inherit {
  justify-content: flex-end;
}

@media (min-width: 750px) {
  .footer-block--menu .icon {
    display: none;
  }
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

@media (min-width: 1025px) {
  .footer-block {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .footer-block.pos-left {
    align-items: flex-start;
    text-align: left;
  }

  .footer-block.pos-left .list-position-inherit {
    justify-content: flex-start;
  }

  .footer-block.pos-center {
    align-items: center;
    text-align: center;
  }

  .footer-block.pos-center .list-position-inherit {
    justify-content: center;
  }

  .footer-block.pos-right {
    align-items: flex-end;
    text-align: right;
  }

  .footer-block.pos-right .list-position-inherit {
    justify-content: flex-end;
  }
}

.footer-block:empty {
  display: none;
}

@media (max-width: 1024px) {
  .footer-block.pos-mb-left {
    align-items: flex-start;
    text-align: left;
  }

  .footer-block.pos-mb-left *:not(button) {
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }

  .footer-block.pos-mb-left .list-position-inherit {
    justify-content: flex-start;
  }

  .footer-block.pos-mb-center {
    align-items: center;
    text-align: center;
  }

  .footer-block.pos-mb-center * {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .footer-block.pos-mb-center .list-position-inherit {
    justify-content: center;
  }

  .footer-block.pos-mb-right {
    align-items: flex-end;
    text-align: right;
  }

  .footer-block.pos-mb-right * {
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
  }

  .footer-block.pos-mb-right .list-position-inherit {
    justify-content: flex-end;
  }
}

.footer-block__heading {
  margin-block: 0 0;
  font-size: var(--font-size--md);
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-top details.grid__item {
    margin-block: 0;
    border-bottom: solid 0.1rem rgb(var(--color-foreground-rgb) / var(--opacity-8));
  }

  .footer__content-top details summary {
    padding-block: 1.5rem;
  }

  .footer__content-top details .footer-block__heading {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .footer-block__heading {
    font-size: var(--font-size--lg);
  }
}

.footer-block__newsletter {
  text-align: center;
}

.footer-block__newsletter .newsletter-form {
  margin: 0;
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper.newsletter-form__field-wrapper--full {
  max-width: 100%;
}

@media (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
  */
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@keyframes appear-down {
  0% {
    opacity: var(--opacity-0);
    margin-top: -1rem;
  }
  100% {
    opacity: var(--opacity-100);
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgb(var(--color-foreground-rgb) / var(--opacity-75));
}

@media (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: var(--color-foreground);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

@media (max-width: 1024px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: var(--font-size--sm);
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: var(--font-size--2xs);  
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: "\00B7";
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

@media (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

.footer-block.grid__item {
  width: calc(var(--width-footer-col) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  max-width: calc(var(--width-footer-col) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
}

@media screen and (max-width: 749px) {
  .footer-block.grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .footer-block.grid__item {
    width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
    max-width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  }

  .footer-block.grid__item.full-width-tablet {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-block.grid__item.full-width-tablet .flex-section .grid__item {
    width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
    max-width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  }
}

@media (min-width: 750px) {
  .footer-block--menu {
    border: none;
  }

  .footer-block--menu summary {
    pointer-events: none !important;
  }
}

.footer-col {
  container-type: inline-size;
}

@container (max-width: 250px) {
  .footer-block__newsletter .field {
    flex-direction: column;
  }

  .footer-block__newsletter .field * {
    width: 100%;
  }
}
