.section-wrapper {
  --section-height-offset: 0px;
}

.section[data-shopify-visual-preview] {
  min-height: var(--section-preview-height);
  padding-top: 0;
}

.section[data-shopify-visual-preview] .custom-section-background {
  display: none;
}

body:has(> #header-group > .header-group-section > #header-component[transparent]):not(:has(> #header-group > .header-group-section + .shopify-section)) > main > .section-wrapper:first-child {
  --section-height-offset: var(--header-group-height, 0);
}

.custom-section-background {
  grid-column: 1 / -1;
}

.custom-section-content {
  z-index: var(--layer-flat);
}