.slide__image-container svg,
.slideshow--masonry .media {
  border-radius: var(--image-border-radius);
}

@media screen and (max-width: 749px) {
  .slideshow--masonry {
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .slideshow--masonry-item {
    width: calc((100% / 3) - var(--gap) * 2 / 3);
    aspect-ratio: 1 / 1;
  }

  .slideshow__container {
    order: -1;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--masonry {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 30rem);

    .swiper,
    .slideshow__slides {
      min-height: 100%;
      height: 100%;
    }
  }

  slideshow--masonry-item--1 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .slideshow--masonry-item--2 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .slideshow--masonry-item--3 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .slideshow--masonry-item--4 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .slideshow--masonry-item--5 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .slideshow--masonry-item--6 {
    grid-area: 5 / 3 / 5 / 4;
  }
  .slideshow--masonry-item--7 {
    grid-area: 5 / 4 / 5 / 5;
  }
  .slideshow--masonry-item--8 {
    grid-area: 4 / 2 / 5 / 4;
  }
  .slideshow--masonry-item--9 {
    grid-area: 3 / 4 / 5 / 5;
  }
  .slideshow__container {
    grid-area: 1 / 1 / 3 / 5;
  }
}

@media screen and (min-width: 1440px){
  .slideshow--masonry {
    grid-template-columns: minmax(397px, 1fr) repeat(2, 1fr) minmax(397px, 1fr);
    grid-template-rows: var(--slideshow-masonry-row-1-height) var(
        --slideshow-masonry-row-2-height
      ) var(--slideshow-masonry-row-3-height) var(
        --slideshow-masonry-row-4-height
      );
  }

  .slideshow--masonry-item--1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .slideshow--masonry-item--2 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .slideshow--masonry-item--3 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .slideshow--masonry-item--4 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .slideshow--masonry-item--5 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .slideshow--masonry-item--6 {
    grid-area: 2 / 4 / 3 / 5;
  }
  .slideshow--masonry-item--7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .slideshow--masonry-item--8 {
    grid-area: 4 / 2 / 5 / 4;
  }
  .slideshow--masonry-item--9 {
    grid-area: 3 / 4 / 5 / 5;
  }
  .slideshow__container {
    grid-area: 1 / 2 / 3 / 4;
  }
}
